/* Anmelden box styling */
#anmelden {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 340px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 14px -2px rgba(0, 0, 0, 0.75);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* Styling the class for email and password input boxes */
.action {
  background-color: white;
  border: 1px solid lightgray;
  display: flex;
  margin: 10px;
  padding: 8px;
  height: 20px;
  width: 300px;
  border-radius: 5px;
}
.action:focus {
  outline: none !important;
  border: 1px solid rgba(0, 119, 246, 1);
}
/* Styling the "Anmelden" button */
#button-active {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  height: 24px;
  width: 320px;
  border-radius: 5px;
  background-color: rgb(0, 120, 246);
  border: none;
  color: white;
}
/* Styling the password vergessen link */
a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgba(0, 119, 246, 1);
  align-items: center;
}
form hr {
  width: 320px;
  color: lightgray;
}

/* Styling the "neues Konto erstellen" container and the button */
#erstellen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 24px;
  width: 180px;
}
#erstellen > button {
  padding: 10px;
  border: none;
  background-color: rgb(3, 153, 3);
  border-radius: 5px;
  color: white;
}
/* Styling the text below the "anmelden box" */
.bottom {
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: 340px;
  height: 250px;
}
.bottom p {
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
